---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection, CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const formatDate = (d: Date) => {
  return new Date(d).toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'short',
    year: 'numeric',
  });
};

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<MainLayout title={`${post.data.title} | Omar45`}>
  <article
    class='m-auto w-full max-w-4xl bg-brand-bg-dark p-6 sm:p-10 rounded-2xl my-8'
    dir={post.data.isArabic ? 'rtl' : 'ltr'}
    class=''
  >
    <h1 class='text-3xl sm:text-4xl md:text-5xl font-bold'>
      {post.data.title}
    </h1>
    <time
      datetime={post.data.date.toString()}
      class={`block text-sm sm:text-lg md:text-xl ${
        post.data.isArabic ? 'my-4' : 'mt-2 mb-4'
      }`}
    >
      {formatDate(post.data.date)}
    </time>
    <hr class='opacity-20 mb-4' />
    <section
      class='max-w-4xl prose md:prose-xl prose-a:text-brand-accent-pink sm:prose-img:w-[75%] hover:sm:prose-img:w-full sm:prose-img:transition-all sm:prose-img:duration-1000 sm:prose-img:mx-auto prose-invert'
    >
      <Content />
    </section>
  </article>
</MainLayout>

<script>
  // const pTags = document.querySelectorAll('p');
  // pTags.forEach((p) => {
  //   const firstWord = p?.textContent?.split(' ')[0];
  //   const isArabic = /[\u0600-\u06FF]/.test(firstWord || '');
  //   if (isArabic) {
  //     p.dir = 'rtl';
  //     p.classList.add('ar-txt');
  //   } else {
  //     p.dir = 'ltr';
  //   }
  // });
</script>
