---
import BlogCard from '../../components/BlogCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog', ({ data }) => {
  return !data.draft && new Date(data.date) < new Date();
});
blogPosts.sort((a, b) => {
  return (new Date(b.data.date) as any) - (new Date(a.data.date) as any);
});
---

<MainLayout title='Blog | Omar45'>
  <section class='w-full'>
    <h2 class='text-3xl font-semibold sm:text-4xl md:mb-5 md:text-5xl'>
      All Blog Posts ({blogPosts.length})
    </h2>

    <ul class='mt-4 grid grid-cols-2 gap-2'>
      {blogPosts.map((post) => <BlogCard data={post.data} slug={post.slug} />)}
    </ul>
  </section>
</MainLayout>
