---
import ProjectCard from '../components/ProjectCard.astro';
import { Icon } from 'astro-icon';
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import BlogCard from '../components/BlogCard.astro';

const blogPosts = await getCollection('blog', ({ data }) => {
  return !data.draft && data.date < new Date();
});
blogPosts.sort((a, b) => {
  return (new Date(b.data.date) as any) - (new Date(a.data.date) as any);
});
---

<MainLayout title='Omar45'>
  <section
    class='text-center p-4 flex flex-col items-center gap-4 min-h-[calc(100vh-6rem)] justify-center'
  >
    <Icon
      class='mb-6 text-brand-accent-cyan'
      name='twemoji:waving-hand-medium-light-skin-tone'
      size={70}
    />
    <h1 class='text-5xl sm:text-7xl md:text-9xl font-extrabold'>
      Hi<span class='text-brand-accent-pink'>!</span>
       I'm Omar
    </h1>
    <h4 class='text-2xl sm:text-3xl md:text-5xl font-medium'>
      a front-end developer
    </h4>
    <Icon
      class='animate-[bounce_1.5s_ease-in-out_infinite] mt-16 text-brand-accent-purple'
      name='iconoir:mouse-scroll-wheel'
      size={40}
    />
  </section>
  <section
    class='w-full text-center p-4 flex flex-col items-center gap-4 justify-center'
  >
    <h2 class='text-3xl sm:text-4xl md:text-6xl font-semibold md:mb-5'>
      Featured <span class='squiggle squiggle-pink'>Projects</span>
    </h2>
    <div class='space-y-5 w-full'>
      <ProjectCard
        image='https://res.cloudinary.com/omar45/image/upload/v1686344119/projects/stiqa_dkpemt.jpg'
        title='Stiqa Store'
        description='An e-commerce website for a small business specializing in selling stickers.'
        categories={['ReactJS', 'TailwindCSS', 'E-commerce']}
        link='https://StiqaStore.com/'
      />
      <ProjectCard
        image='https://res.cloudinary.com/omar45/image/upload/v1627763717/projects/fcis.png'
        title='FCIS 2023'
        description='A content management system that helps computer science students access all the important university materials. With over 50,000 views per month.'
        categories={['ReactJS', 'Firebase', 'Admin Dashboard']}
        link='https://7th.fcis2023.me/'
      />
      <ProjectCard
        image='https://res.cloudinary.com/omar45/image/upload/v1686344119/projects/certi_misrlp.jpg'
        title='Certi'
        description='Offers a straightforward solution for issuing NFT certificates, with customizable templates and a simple editor that requires no technical expertise.'
        categories={['ReactJS', 'Canvas API', 'NFT']}
        link='https://certi.to/'
      />
    </div>
  </section>
  <section
    class='w-full text-center p-4 flex flex-col items-center gap-4 justify-center'
  >
    <h2 class='text-3xl sm:text-4xl md:text-6xl font-semibold mt-10 md:mb-5'>
      Latest <span class='squiggle squiggle-green'>Blog Posts</span>
    </h2>
    <ul class='w-full grid grid-cols-2 gap-2 text-left'>
      {
        blogPosts
          .slice(0, 3)
          .map((post) => <BlogCard data={post.data} slug={post.slug} />)
      }
      <BlogCard
        data={{
          title: 'All Blog Posts',
          description: 'A list of all my blog posts',
          date: null,
          draft: false,
          author: 'Omar AbdulRahman',
        }}
        slug=''
      />
    </ul>
  </section>
</MainLayout>
