---
import { Icon } from 'astro-icon';
import Tag from './ui/Tag.astro';
const { data, slug } = Astro.props;
---

<li
  class='rounded-2xl bg-foreground/5 p-4 outline outline-transparent transition-colors focus-within:text-accent focus-within:outline-4 focus-within:outline-accent hover:text-accent'
>
  <a
    href={data ? `/blog/${slug}` : '/blog/'}
    class='flex items-start justify-between font-medium focus:outline-none'
  >
    {
      data ? (
        <div class='space-y-2'>
          <h3 class='text-2xl font-semibold md:text-3xl'>{data.title}</h3>
          <div class='flex flex-wrap gap-2'>
            {data.categories.sort().map((category: String) => (
              <Tag>{category}</Tag>
            ))}
          </div>
          <time class='block'>{data.date}</time>
        </div>
      ) : (
        <div>
          <h3 class='text-2xl font-semibold md:text-3xl'>All Blog Posts</h3>
        </div>
      )
    }
    <Icon name='bi:caret-right' class='mt-2 text-primary' size={25} />
  </a>
</li>
