---
import { Icon } from 'astro-icon';

const links = [
  {
    title: 'LinkedIn',
    href: 'https://www.linkedin.com/in/omar45/',
    icon: 'simple-icons:linkedin',
    label: 'LinkedIn Account',
  },
  {
    title: 'Buy Me a Coffee',
    href: 'https://www.buymeacoffee.com/omar45/',
    icon: 'simple-icons:buymeacoffee',
    label: 'Buy Me a Coffee Account',
  },
  {
    title: 'GitHub',
    href: 'https://www.github.com/omarr45/',
    icon: 'simple-icons:github',
    label: 'GitHub Account',
  },
  {
    title: 'YouTube',
    href: 'https://www.youtube.com/@Omar45/',
    icon: 'simple-icons:youtube',
    label: 'YouTube Channel',
  },
  {
    title: 'Mail',
    href: 'mailto:hello@omar45.com',
    icon: 'simple-icons:gmail',
    label: 'E-mail me',
  },
  {
    title: 'RSS Feed',
    href: '/rss.xml',
    icon: 'simple-icons:rss',
    label: 'RSS Feed',
  },
];
---

<footer class='border-0 border-t-2 border-t-foreground/10'>
  <div
    class='mx-auto flex w-full max-w-4xl flex-col items-center justify-between gap-4 p-4 text-center md:flex-row'
  >
    <p>
      Copyright<span aria-hidden='true'>&nbsp;&copy;&nbsp;</span>
      <span id='year'></span> - Omar AbdulRahman
    </p>
    <ul
      class='flex items-center justify-center gap-4'
      aria-label='Social Media Links'
    >
      {
        links.map(({ title, href, label, icon }) => (
          <li
            title={title}
            class='focus-within:text-accent focus-within:outline-dashed focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-accent hover:text-accent focus:outline-none'
          >
            <a
              href={href}
              class='focus:outline-none'
              target={title === 'Mail' ? '_self' : '_blank'}
              aria-label={label}
            >
              <Icon
                name={icon}
                size={title === 'RSS Feed' ? 20 : 24}
                class='focus:outline-none'
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>

<script>
  document.getElementById('year')!.innerHTML = new Date()
    .getFullYear()
    .toString();
</script>
