<nav class='font-bold text-xl bg-brand-bg-dark'>
  <ul
    class='flex items-center justify-center gap-[1rem_2rem] flex-wrap w-full max-w-4xl mx-auto p-4'
  >
    <li
      class='text-5xl flex-[1_0_100%] grid place-items-center sm:flex-auto sm:mr-auto sm:block'
    >
      <a
        href='/'
        class='rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-brand-accent-purple focus-visible:outline-offset-8'
        >Omar 45</a
      >
    </li>
    <li class='hover:underline'>
      <a
        href='/projects'
        class='rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-brand-accent-pink focus-visible:outline-offset-8'
        >Projects</a
      >
    </li>
    <li class='hover:underline'>
      <a
        href='/blog'
        class='rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-brand-accent-pink focus-visible:outline-offset-8'
        >Blog</a
      >
    </li>
    <li class='hover:underline'>
      <a
        href='/cv'
        class='rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-brand-accent-pink focus-visible:outline-offset-8'
        >CV</a
      >
    </li>
  </ul>
</nav>
