<nav class="bg-brand-bg-dark text-xl font-bold">
  <ul
    class="mx-auto flex w-full max-w-4xl flex-wrap items-center justify-center gap-[1rem_2rem] p-4"
  >
    <li
      class="grid flex-[1_0_100%] place-items-center text-5xl sm:mr-auto sm:block sm:flex-auto"
    >
      <a
        href="/"
        class="rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-8 focus-visible:outline-brand-accent-purple"
        >Omar 45</a
      >
    </li>
    <li class="hover:underline">
      <a
        href="/projects"
        class="rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-8 focus-visible:outline-brand-accent-pink"
        >Projects</a
      >
    </li>
    <li class="hover:underline">
      <a
        href="/blog"
        class="rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-8 focus-visible:outline-brand-accent-pink"
        >Blog</a
      >
    </li>
    <li class="hover:underline">
      <a
        href="/cv"
        class="rounded-sm focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-8 focus-visible:outline-brand-accent-pink"
        >CV</a
      >
    </li>
  </ul>
</nav>
