---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title='Omar45'>
  <section class='w-full'>
    <h2
      class='text-3xl sm:text-4xl md:text-5xl text-center font-semibold md:mb-5'
    >
      CV coming soon
    </h2>
  </section>
</MainLayout>
