---
import Button from '../../components/ui/Button.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='CV | Omar45'>
  <section class='w-full px-2'>
    <section class='flex items-center justify-between md:mb-5'>
      <h2 class='text-3xl font-semibold sm:text-4xl md:text-5xl'>My CV</h2>
      <Button path='/Omar AbdulRahman CV.pdf'>Download PDF</Button>
    </section>

    <hr class='my-4 opacity-30 md:my-5' />

    <h2 class='mb-2 text-3xl font-bold'>Work Experience</h2>
    <ul class='timeline'>
      <li>
        <h3 class='text-xl font-bold'>Front End Developer</h3>
        <p class='text-lg'>Casivu</p>
        <p class='italic opacity-60 sm:text-lg'>FEB 2024 - Present</p>
        <p class='text-justify text-lg'>
          <ul class='normal'>
            <li>
              Led the creation of an ecommerce platform from scratch, using
              React, Vite, and Firebase.
            </li>
            <li>
              Introduced TypeScript into the project and assisted colleagues in
              adopting it, enhancing code reliabilityand developer productivity.
            </li>
            <li>
              Worked closely with teammates to design and build smooth, fast
              features for users.
            </li>
          </ul>
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>
          Full-Stack Web Developer (Software Diploma)
        </h3>
        <p class='text-lg'>Siemens Digital Industries Software</p>
        <p class='italic opacity-60 sm:text-lg'>SEP 2023 - FEB 2024</p>
        <p class='text-justify text-lg'>
          <ul class='normal'>
            <li>
              Gained comprehensive software development insights during the
              intensive 3-month Diploma.
            </li>
            <li>
              Acquired knowledge and practical experience in algorithms, data
              structures, backend developmentusing Java Spring, and frontend
              development with Angular.
            </li>
            <li>
              Explored essential skills including Linux proficiency, version
              control using GitHub, application of SOLIDprinciples, coding best
              practices, and participation in code reviews.
            </li>
            <li>
              Developed expertise in performance and optimization techniques,
              understanding build systems, systemdesign, UX design principles,
              software development lifecycle (SDLC), databases, and
              microservices.
            </li>
          </ul>
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>Mentor - MERN Stack</h3>
        <p class='text-lg'>
          <a href='https://xcodify.org/'>X-Codify</a>
        </p>
        <p class='italic opacity-60 sm:text-lg'>NOV 2023 - JAN 2024</p>
        <p class='text-justify text-lg'>
          <ul class='normal'>
            <li>
              Trained students on the entire MERN (MongoDB, Express.js,
              React.js, Node.js) stack.
            </li>
            <li>
              Guided individuals through the intricacies of full-stack
              development.
            </li>
            <li>
              Enhanced communication skills in explaining complex concepts
              effectively.
            </li>
            <li>
              Solidified commitment to empowering aspiring developers with
              practical skills.
            </li>
          </ul>
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>Frontend Developer</h3>
        <p class='text-lg'>
          <a href='https://github.com/neararabic'>NEAR in Arabic</a>
        </p>
        <p class='italic opacity-60 sm:text-lg'>AUG 2022 - JAN 2023</p>
        <p class='text-justify text-lg'>
          <ul class='normal'>
            <li>
              Transformed concepts into reality during a 6-month tenure with
              NEAR in Arabic.
            </li>
            <li>
              Showcased expertise in blockchain, smart contracts, and developing
              database dashboards.
            </li>
            <li>
              Developed and deployed multiple projects, earning recognition as
              the top performer in a team of 6.
            </li>
            <li>
              Continued contributions as a part-time employee for an additional
              3 months, delivering 5 websitesfocused on blockchain technology,
              smart contracts, NFTs, and database dashboards.
            </li>
          </ul>
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>Frontend Developer</h3>
        <p class='text-lg'>Freelance</p>
        <p class='italic opacity-60 sm:text-lg'>AUG 2021 - Present</p>
        <p class='text-justify text-lg'>
          <ul class='normal'>
            <li>
              Engaged in diverse projects over the past two years, tailoring
              solutions to meet clients' requirements.
            </li>
            <li>
              Specialized in front-end development, creating user-friendly
              websites for seamless user experiences.
            </li>
            <li>
              Collaborated closely with clients, translating their visions into
              effective digital solutions.
            </li>
            <li>
              Strengthened versatility, adaptability, and problem-solving skills
              within the dynamic field of web development.
            </li>
          </ul>
        </p>
      </li>
    </ul>

    <h2 class='mb-2 mt-8 text-3xl font-bold'>Volunteering</h2>
    <ul class='timeline'>
      <li>
        <h3 class='text-xl font-bold'>Organizer / Photographer</h3>
        <p class='text-lg'>
          <a href='https://www.facebook.com/profile.php?id=100093578463906'
            >React Cairo #3</a
          >
        </p>
        <p class='italic opacity-60 sm:text-lg'>AUG 2023</p>
        <p class='text-justify text-lg'>
          I was responsible for media coverage of the event, as well as
          organizing the event itself.
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>Head of Media Committee</h3>
        <p class='text-lg'>
          <a href='https://www.facebook.com/Humans.FCIS'>Humans of FCIS</a>
        </p>
        <p class='italic opacity-60 sm:text-lg'>AUG 2020 - JAN 2023</p>
        <p class='text-justify text-lg'>
          I did a comprehensive rebranding of the entire student activity's
          identity, while also being responsible for the social media presence
          of the association and photography coverage of events.
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>Head of Media Committee</h3>
        <p class='text-lg'>
          <a href='https://www.facebook.com/acmASCIS/'>acmASCIS</a>
        </p>
        <p class='italic opacity-60 sm:text-lg'>AUG 2020 - AUG 2022</p>
        <p class='text-justify text-lg'>
          I took charge of creating social media designs, organizing digital
          campaigns, designing printables, and coordinating photography
          coverage.
        </p>
      </li>
      <li>
        <h3 class='text-xl font-bold'>Head of Media Committee</h3>
        <p class='text-lg'>
          <a href='https://www.facebook.com/media/set/?set=a.1726979610860278'
            >Baladna Initiative</a
          >
        </p>
        <p class='italic opacity-60 sm:text-lg'>JAN 2015 - JAN 2018</p>
        <p class='text-justify text-lg'>
          I assumed a leadership role, guiding a team of 20 skilled calligraphy
          artists during the Cairo International Book Fair, where we wrote the
          visitors' names, adding a personalized touch to the event.
        </p>
      </li>
    </ul>

    <h2 class='mb-2 mt-8 text-3xl font-bold'>Education</h2>
    <ul class='timeline'>
      <li>
        <h3 class='text-xl font-bold'>BSc. Computer Science</h3>
        <p class='text-lg'>Ain Shams University</p>
        <p class='text-lg italic opacity-60'>AUG 2019 - JUL 2023</p>
      </li>
    </ul>

    <h2 class='mb-2 mt-8 text-3xl font-bold'>Skills</h2>
    <ul class='skills list-disc columns-2 md:columns-3 md:text-lg'>
      <li>
        <p>HTML, CSS</p>
      </li>
      <li>
        <p>Sass, TailwindCSS</p>
      </li>
      <li>
        <p>TypeScript</p>
      </li>
      <li>
        <p>JavaScript, ES6</p>
      </li>
      <li>
        <p>React JS, Next JS</p>
      </li>
      <li>
        <p>Astro</p>
      </li>
      <li>
        <p>Firebase Firestore</p>
      </li>
      <li>
        <p>Firebase Auth</p>
      </li>
      <li>
        <p>JSON, APIs</p>
      </li>
      <li>
        <p>GitHub</p>
      </li>
      <li>
        <p>Web Accessibilty</p>
      </li>
      <li>
        <p>SEO</p>
      </li>
    </ul>
  </section>
</Layout>

<style lang='scss'>
  .skills {
    li {
      margin-left: 1rem;

      &::marker {
        color: #23bee1;
      }
    }
  }
  .timeline {
    &:not(.columns-2) {
      & > li {
        position: relative;
        padding-left: 1.5rem;
        margin-left: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        &::before {
          content: '';
          position: absolute;
          top: 0.875rem;
          left: -0.5rem;
          width: 1rem;
          height: 1rem;
          background-color: #23bee1;
          border-radius: 50%;
        }

        &:not(:last-child)::after {
          content: '';
          position: absolute;
          top: 1.25rem;
          left: -1.5px;
          width: 3px;
          height: 100%;
          background-color: #23bee1;
        }
      }
    }
  }

  .normal {
    list-style: disc;
    padding-left: 1rem;
  }

  a[href^='http'] {
    position: relative;
    display: inline-block;
    padding-right: 1.25rem;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: url('/arrow.svg');
      position: absolute;
      top: 0.25rem;
      right: 0;
      width: 1rem;
    }
  }
</style>
