---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import MainHead from "./MainHead.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body class="grid grid-rows-[auto_1fr_auto] bg-brand-bg text-brand-text">
    <Navbar />
    <main class="mx-auto grid w-full max-w-4xl place-items-center p-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
